PROFILE=TuPerfilAWS
LOOKBACK_DAYS=180
SLACK_WEBHOOK_URL=
CLOUDTRAIL_MAX_RESULTS=50
# Lista separada por comas (si se omite, se intenta autodescubrir)
CLOUDTRAIL_REGIONS=
SIMULATE_EFFECTIVE=true
SIMULATE_ONLY_USED=true
